* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

header {
  padding: 20px;
  background-color: rgb(9, 42, 78);
  color: white;
}

h1 {
  border: solid;
  padding: 5px;
  display: inline;
  font-size: 50px;
}

nav {
  display: inline;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline;
  float: right;
}

li {
  display: inline-block;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 18px;
  text-decoration: none;
}

/*hero banner css properties*/
.hero-banner {
  background-image: url(../images/Miyajima.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 250px;
  position: relative;
}

.inner-image {
  border-radius: 50%;
  width: 220px;
  border: white 3px solid;
  padding: 5px;
  margin: 15px;
}

.hero-banner h2 {
  position: absolute;
  bottom: 8px;
  right: 16px;
  background-color: rgb(9, 42, 78);
  color: white;
  border: solid;
  padding: 3px;
}

h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}