* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0px;
  padding: 0;
  line-height: 1.5;
}

header {
  padding: 20px;
  background-color: rgb(9, 42, 78);
  color: white;
}

h1 {
  border: solid;
  padding: 5px;
  display: inline;
  font-size: 50px;
}

nav {
  display: inline;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline;
  float: right;
}

li {
  display: inline-block;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 18px;
  text-decoration: none;
  font-size: 20px;
}

/*hero banner css properties*/
.hero-banner {
  background-image: url(../images/Miyajima.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 250px;
  position: relative;
}

.inner-image {
  border-radius: 50%;
  width: 220px;
  border: white 3px solid;
  padding: 5px;
  margin: 15px;
}

.hero-banner h2 {
  position: absolute;
  bottom: 8px;
  right: 16px;
  background-color: rgb(23, 67, 114);
  color: white;
  border: solid;
  padding: 3px;
}

/*about me section*/
.about-me-title {
  margin: 50px;
  font-size: 30px;
  text-align: end;
}

#about {
  display: flex;
  margin: 30px;
  font-size: 20px;
  align-items: center;
}

#about h2 {
  font-size: 40px;
  border-right: rgb(9, 42, 78)solid 5px;
  padding: 30px;
}

.about-me-text {
  padding: 30px;
  text-align: justify;
}

/*project content section*/
.page-section {
  padding: 20px;
  margin: 30px;
  font-size: 30px;
  display: flex;
}

.projects-title {
  font-size: 40px;
  border-right: rgb(9, 42, 78)solid 5px;
  padding: 18px;
}

.project-content {
  margin: 0px 5%;
  padding: 50px;
  display: grid;
  grid-template-rows: 300px 300px 300px 300px;
  grid-template-columns: 300px 300px 300px 300px;
  grid-template-areas: 
  "horiseon horiseon horiseon horiseon"
  "project2 project2 project3 project3"
  "project4 project4 project5 project5"
  ;
}

#horiseon {
  grid-area: horiseon;
  background-image: url("../images/horiseon.jpeg");
  border: solid 3px rgb(9, 42, 78);

}
#project2 {
  grid-area: project2;
  background-image: url("../images/placeholder.png");
  border: solid 3px rgb(9, 42, 78);
}

#project3 {
  grid-area: project3;
  background-image: url("../images/placeholder.png");
  border: solid 3px rgb(9, 42, 78);
}

#project4 {
  grid-area: project4;
  background-image: url("../images/placeholder.png");
  border: solid 3px rgb(9, 42, 78);
}

#project5 {
  grid-area: project5;
  background-image: url("../images/placeholder.png");
  border: solid 3px rgb(9, 42, 78);
}

.categoryGridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 10px;
  cursor: pointer;
  display: grid;
  align-content: end;
}

.headings {
  background-color: rgba(0,0,0,0.7);
  padding: 15px;
  height: 25px;
  color: white;
  font-size: 18px;
  border-top: 5px solid rgb(23, 67, 114);
}

.project-content div {
  text-align: start;
  padding: 20px 0;
  font-size: 30px;
}

/*contact section*/
#contact-me {
  display: flex;
  margin: 30px;
  font-size: 20px;
  align-items: center;
}

#contact-me h2 {
  font-size: 40px;
  border-right: rgb(9, 42, 78)solid 5px;
  padding: 17px;
}

#contact-me li img {
height: 50px;
width: 55px;
}

#contact-me ul{
  width:100vw;
  display:flex;
  justify-content: space-around;
  gap:10vw;
}
